namespace: cdro

resources:
- ./resources/namespaces.yaml
- ./resources/storageclasses.yaml
- ./resources/cert-manager.yaml
- ./resources/secrets.yaml
- ./resources/ingressclasses.yaml
- ./resources/pvcs.yaml
- ./resources/configmaps.yaml
- ./resources/metricbeat.yaml

helmCharts:
  #------------------------------------------
  # CDRO DB
  #------------------------------------------  
- name: postgresql
  namespace: cdro
  valuesFile : ./values/postgre-values.yaml
  repo: https://charts.bitnami.com/bitnami
  version: 13.2.24
  releaseName: postgre 
  IncludeCRDs: true
  #------------------------------------------
  # CDRO 
  #------------------------------------------    
- name: cloudbees-flow
  namespace: cdro
  valuesFile : ./values/cdro-values.yaml
  repo: https://public-charts.artifacts.cloudbees.com/repository/public
  version: 2.28.0
  releaseName: cdro 
  IncludeCRDs: true
  #------------------------------------------
  # CDRO Agent
  #------------------------------------------  
- name: cloudbees-flow-agent
  namespace: cdro
  valuesFile : ./values/cdro-agent-values.yaml
  repo: https://public-charts.artifacts.cloudbees.com/repository/public
  version: 2.28.0
  releaseName: cdro-remote-agent
  IncludeCRDs: true
  #------------------------------------------
  # Devops Insight Only Kibana
  #------------------------------------------
- name: kibana
  namespace: cdro
  valuesFile : ./values/dois-kibana-value.yaml
  repo: https://helm.elastic.co
  version: 7.17.1
  releaseName: kibana
  IncludeCRDs: true
  #------------------------------------------
  # Monitoring 
  #------------------------------------------
- name: elasticsearch
  namespace: cdro
  valuesFile : ./values/es-values.yaml
  repo: https://helm.elastic.co
  version: 7.17.1
  releaseName: elasticsearch
  IncludeCRDs: true
- name: kibana
  namespace: cdro
  valuesFile : ./values/es-kibana-value.yaml
  repo: https://helm.elastic.co
  version: 7.17.1
  releaseName: eskibana
  IncludeCRDs: true
- name: filebeat
  namespace: cdro
  valuesFile : ./values/es-filebeat-value.yaml
  repo: https://helm.elastic.co
  version: 7.17.1
  releaseName: esfilebeat
  IncludeCRDs: true

patches:
  - target:
      kind: Ingress
      name: flow-ingress
    patch: |
      - op: replace
        path: /apiVersion
        value: networking.k8s.io/v1
      - op: add
        path: /spec/rules/0/http/paths/0/pathType
        value: ImplementationSpecific
      - op: add
        path: /spec/rules/0/http/paths/1/pathType
        value: ImplementationSpecific
      - op: replace
        path: /spec/rules/0/http/paths/0/backend
        value:
          service:
            name: flow-web
            port: 
              number: 80 
      - op: replace
        path: /spec/rules/0/http/paths/1/backend
        value:
          service:
            name: flow-web
            port: 
              number: 80 
      - op: add
        path: /spec/ingressClassName
        value: alb
      - op: replace
        path: /metadata/annotations
        value:
          alb.ingress.kubernetes.io/certificate-arn: "arn:aws:acm:ap-northeast-2:960249453675:certificate/5ef7ac4b-8549-480b-ac9b-6efae081ecbf"
          alb.ingress.kubernetes.io/group.name: "cdro-cloudbees-flow"
          alb.ingress.kubernetes.io/healthcheck-path: "/auth/"
          alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}, {"HTTPS":443}]'
          alb.ingress.kubernetes.io/scheme: "internet-facing"
          alb.ingress.kubernetes.io/ssl-redirect: "443"
          alb.ingress.kubernetes.io/target-type: "ip"
          external-dns.alpha.kubernetes.io/hostname: "cdro.idtplateer.com"
  - target:
      kind: StatefulSet
      name: cdro-remote-agent-flow-agent
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/livenessProbe
        value:
          exec:
            command: [/opt/cbflow/configmap/health-check.pl]
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 5    
      - op: add
        path: /spec/template/spec/containers/0/volumeMounts/-
        value:
          mountPath: /opt/cbflow/configmap
          name: flow-agent-health-check
      - op: add
        path: /spec/template/spec/volumes/-
        value:
          name: flow-agent-health-check
          configMap:
            defaultMode: 0777
            name: flow-agent-health-check
  - target:
      kind: Deployment
      name: flow-web
      namespace: cdro
    patch: |-
      - op: remove
        path: /spec/template/spec/initContainers